body{
    background-color: dimgrey;
}
.center{
    padding: auto;
    text-align: center;


}
.table{
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}


.table__row {
    background-color: #e5e5e5;
    
}

.table__cell{
    padding: 8px;
}