{% extends 'index.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <h2>Add User</h2>
    <form action="{{ url_for("add_user")}}" method="POST" enctype="multipart/form-data">
        <input type="text" title="Name" name="name" placeholder="name" />
        <br><br>
        <input type="text" title="Password" name="password" placeholder="password" />
        <br><br><br><br>
        <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image"></label>
          </div>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </form>
</div>
{% endblock %}

