{% extends 'index.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <h2>Generate QR Code</h2>
    <form action="/login/qr-form" method="post">
        <label for="days">Days:</label>
        <input type="text" id="days" title="days" name="days" placeholder="days" value="0" size="2"/>
        <label for="hours">Hours:</label>
        <input type="text" id="hours" title="hours" name="hours" placeholder="hours" value="0" size="2"/>
        <label for="minutes">Minutes:</label>
        <input type="text" id="minutes" title="minutes" name="minutes" placeholder="minutes" value="0" size="2"/>
        <br>
        <br>
        <button type="submit" class="btn">Generate</button>
    </form>
</div>
{% endblock %}

