{% extends 'index.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <h2>Generate QR Code</h2>
    <form action="/login/qr-form" method="post">
        <input type="text" title="days" name="days" placeholder="days" />
        <input type="text" title="hours" name="hours" placeholder="hours" />
        <input type="text" title="minutes" name="minutes" placeholder="minutes" />
        <br>
        <br>
        <button type="submit" class="btn">Generate</button>
    </form>
</div>
{% endblock %}

